<div id="task-tile">
    <div id="task-tile-id">
        {{this.id}}# 
        <span id="task-pomodoros">{{this.pomodoros}} pomodoros</span>
    </div>
    <div id="task-tile-body">
        <div id="task-description-block">
        {{this.description}}
        </div>
        <p id="task-tg"><strong>Group:</strong> {{this.taskgroup.name}}</p>
        <form id="actions" method="POST" action="/tasks/delete/{{this.id}}">
            <a class="anchor-button" href="/tasks/edit/{{this.id}}">Edit</a>
            <button type="submit">Delete</button>
        </form>
    </div>
</div>